package routes

import (
	"github.com/graphql-go/graphql"
)

{{range .}}
	var {{.TableName}}Type = graphql.NewObject(
		graphql.ObjectConfig{
			Name: "{{.TableName}}",
			Fields: graphql.Fields{
				{{range .Cols}}
					"{{ .ColumnName }}": &graphql.Field{
						Type: graphql.{{ .ColumnType }},
					},
				{{- end}}
			},
		},
	)
{{end}}

var queryType = graphql.NewObject(
	graphql.ObjectConfig{
		Name: "Query",
		Fields: graphql.Fields{
			{{range .}}
				"{{.TableName | ToLower }}": &graphql.Field{
					Type: {{.TableName | ToLower }}Type,
					Args: graphql.FieldConfigArgument{
				{{range .Cols}}
						"{{ .DBColumnName | ToLower }}": &graphql.ArgumentConfig{
							Type: graphql.{{ .ColumnType | CapFirst }},
						},
				{{- end}}
					},
					Resolve: func(p graphql.ResolveParams) (interface{}, error) {
						// run database code here
						ag := &models.{{.TableName}}{}
						return ag, nil
					},
				},
			{{end}}
		},
	})
